# Seguridad: Nunca subir la API Key
.env

# Entornos virtuales
venv/
env/
ENV/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración de editores (VS Code / PyCharm)
.vscode/
.idea/

# Opcional: Logs o bases de datos temporales
*.log
